@model LovelyWaffles.Data.Entities.IndexPage
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <ul class="inform">
                <li><h2>НАШИ КОНТАКТЫ</h2></li>
                <li><strong>Наш адрес: </strong>@Model.Address</li>
                <li><strong>Наш телефон: </strong>@Model.Phone</li>
                <li><strong>e-mail: </strong>@Model.Email</li>
            </ul>
        </div>
        <div class="col-md-4 col-md-offset-2 ">
            <ul class="inform">
                <li><h2>МЫ В СОЦСЕТЯХ</h2></li>
                <li class="li_inline"><a id="logo" href="https://vk.com/lovely_waffles_kzn" target="_blank"><img src="/Content/Images/vk.png" alt="vkontakte" /></a></li>
                <li class="li_inline"><a id="logo" href="https://www.instagram.com/lovely_waffles_kazan" target="_blank"><img src="/Content/Images/inst.png" alt="instagram" /></a></li>
            </ul>
        </div>
    </div>
</div>
