@{
    Layout = null;
}
<div class="container">
    <div class="row">
        <ul class="admin_menu">
            <li>@Html.ActionLink("Фото главной страницы", "Index", "Admin", null, new { @class = "btn btn-primary" })</li>
            <li>@Html.ActionLink("Фото галереи", "EditPhotoGallery", "Admin", null, new { @class = "btn btn-primary" })</li>
        </ul>
    </div>
</div>