@section css {
    <link href="@Url.Content("~/Content/GalleryStyle/fancybox.css")" rel="stylesheet" type="text/css" />
}
<script type="text/javascript">
    $(document).ready(function () {
        initialiseGalleryScript();
    });
    var page = 0;
    var _inCallback = false;

    function loadPictures() {
        if (page > -1 && !_inCallback) {
            _inCallback = true;
            page++;
            $('div#loading').html('<p><img src="/Content/Images/loading.gif"></p>');
            $.get("/Home/Gallery/" + page, function (data) {
                if (data != '    </div>') {
                    $("#picture_list").append(data);
                }
                else {
                    page = -1;
                }

                _inCallback = false;
                $('div#loading').empty();
                initialiseGalleryScript();
            });
        }
    }

    var dcList = true;

    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {

            loadPictures();
        }
    });
</script>

<div class="container">
    @Html.Partial("_Pictures")
</div>
<div id="loading"></div> 
@Scripts.Render("~/bundles/galleryScript1")
@Scripts.Render("~/bundles/galleryScript2")